.header-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;

  justify-content: space-around;
  padding: 5px;
}
.tabs-container {
  display: flex;
  align-items: center;
  width: 27vw;
  justify-content: space-between;
}
.cart-history-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  /* color: black; */
}
.tab {
  font-size: 20px;
}
.brand1 {
  color: green;
  margin-left: -100px;
  font-weight: bold;
  font-size: 30px;
}
.cart-icon {
  font-size: 35px;
}
.history-btn {
  border-radius: 10px;
  background-color: yellow;
  margin-right: 10px;
  padding: 5px;
}
.logout-btn {
  border-radius: 10px;
  background-color: blue;
  color: white;
  padding: 5px;
}
.cart-history-container {
  margin-right: -100px;
}
.cart-quantity-container1 {
  background-color: skyblue;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-left: -7px;
}
